{
  "openapi": "3.0.3",
  "info": {
    "title": "Terac External API",
    "description": "Programmatic access to Terac's recruitment, interview, and insight delivery platform. Authenticate using a Bearer token via the Authorization header.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://terac.com/api/external/v2"
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "dashboard_url": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "slug",
                          "created_at",
                          "dashboard_url"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "next_cursor": {
                          "type": "string",
                          "nullable": true
                        },
                        "has_more": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "next_cursor",
                        "has_more"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per minute per API key)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.RATE_LIMITED"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a project",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "dashboard_url": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "slug",
                    "created_at",
                    "dashboard_url"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "409": {
            "description": "Action not allowed in the resource’s current state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.CONFLICT"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per minute per API key)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.RATE_LIMITED"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get project details",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "dashboard_url": {
                      "type": "string",
                      "nullable": true
                    },
                    "opportunity_count": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "slug",
                    "created_at",
                    "dashboard_url",
                    "opportunity_count"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per minute per API key)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.RATE_LIMITED"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateProject",
        "summary": "Update a project",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "description": "ID of the project to update",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "dashboard_url": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "slug",
                    "created_at",
                    "dashboard_url"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "409": {
            "description": "Action not allowed in the resource’s current state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.CONFLICT"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per minute per API key)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.RATE_LIMITED"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/filters": {
      "get": {
        "operationId": "getFilters",
        "summary": "List available filters",
        "tags": [
          "Filters"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "operators": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "min": {
                            "type": "number"
                          },
                          "max": {
                            "type": "number"
                          },
                          "options_url": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "slug",
                          "name",
                          "type",
                          "category",
                          "operators"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per minute per API key)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.RATE_LIMITED"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/filters/{filter_slug}/options": {
      "get": {
        "operationId": "getFilterOptions",
        "summary": "List options for a filter",
        "tags": [
          "Filters"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "filter_slug",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "in": "query",
            "name": "country_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "state_id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "page": {
                          "type": "number"
                        },
                        "per_page": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "total",
                        "page",
                        "per_page"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per minute per API key)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.RATE_LIMITED"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/opportunities": {
      "post": {
        "operationId": "createOpportunity",
        "summary": "Create a draft opportunity",
        "description": "Creates the opportunity as a DRAFT. Nothing is charged and no recruitment starts until you call\n`POST /opportunities/{opportunityId}/launch`.\n\n**The incentive is derived, not sent.** There is no field for participant pay, and the amount is\nfixed when the draft is created. Two paths decide which number you get:\n\n- **Omit `feasibility_request_id`** and the incentive is an automatic estimate made during this\n  call. It is priced from the whole brief, not just its size: the participant count, the task\n  duration, the audience your `filters` and `screening_questions` describe, and the recruitment\n  window from `expected_days_to_complete`. Changing any of those changes the price, so read the\n  result back from `pricing` on the response; do not quote a price to anyone before you have.\n- **Pass a `feasibility_request_id`** and that request's confirmed CPI is honored exactly, with no\n  re-estimate. Submit the brief to `POST /feasibility/requests` first and poll\n  `GET /feasibility/requests/{requestId}` until it reads `RESPONDED`, which is when a price exists.\n  This is the way to control what participants are paid.\n\nThe platform fee follows the same split. Priced by feasibility, the confirmed recruitment fee\nbecomes this opportunity's fee, as a flat per-participant amount, so the all-in CPI you agreed is\nthe one you are charged. Priced automatically, it comes from the organization's configuration\ninstead. Either way it is not a per-opportunity input, and neither is the currency (always USD) or\nthe pay cadence (always `one_time`). `pricing` on the response carries the all-in cost per\nparticipant and the total, and `funding` says whether the balance covers a launch.\n\nEditing after this call is draft-only: `PATCH /opportunities/{opportunityId}` returns 409 once the\nopportunity is launched, and a new recruitment window moves the deadline without re-pricing.",
        "tags": [
          "Opportunities"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "internal_title": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 8000
                  },
                  "project_id": {
                    "type": "string"
                  },
                  "num_participants": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000
                  },
                  "business_type": {
                    "type": "string",
                    "enum": [
                      "b2c",
                      "b2b"
                    ]
                  },
                  "tasks": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "sequence": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "task_type": {
                          "type": "string",
                          "enum": [
                            "interview",
                            "file_upload",
                            "activity"
                          ]
                        },
                        "review_type": {
                          "type": "string",
                          "enum": [
                            "auto_approve",
                            "manual_review",
                            "self_report"
                          ]
                        },
                        "task_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "duration_minutes": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "instructions": {
                          "type": "string",
                          "maxLength": 4000
                        },
                        "accepted_mime_types": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "min_files": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 20
                        },
                        "max_files": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 20
                        },
                        "max_file_size_bytes": {
                          "type": "integer",
                          "minimum": 0,
                          "exclusiveMinimum": true
                        }
                      },
                      "required": [
                        "sequence",
                        "task_type",
                        "review_type"
                      ]
                    },
                    "minItems": 1
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "additionalProperties": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ]
                        }
                      }
                    }
                  },
                  "unrestricted_audience": {
                    "type": "boolean"
                  },
                  "screening_questions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "text": {
                          "type": "string",
                          "minLength": 1
                        },
                        "question_rich_text": {
                          "type": "string"
                        },
                        "pick": {
                          "type": "string",
                          "enum": [
                            "one",
                            "any",
                            "boolean",
                            "text",
                            "grid"
                          ]
                        },
                        "answers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "minLength": 1
                              },
                              "qualify_logic": {
                                "type": "string",
                                "enum": [
                                  "may",
                                  "must",
                                  "must_one_of",
                                  "reject",
                                  "review"
                                ]
                              },
                              "allow_free_text": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "text",
                              "qualify_logic"
                            ]
                          },
                          "minItems": 2
                        },
                        "grid": {
                          "type": "object",
                          "properties": {
                            "pick": {
                              "type": "string",
                              "enum": [
                                "one",
                                "any"
                              ]
                            },
                            "rows": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string"
                                  },
                                  "text": {
                                    "type": "string",
                                    "minLength": 1
                                  }
                                },
                                "required": [
                                  "text"
                                ]
                              },
                              "minItems": 1
                            },
                            "columns": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "string"
                                  },
                                  "text": {
                                    "type": "string",
                                    "minLength": 1
                                  }
                                },
                                "required": [
                                  "text"
                                ]
                              },
                              "minItems": 2
                            },
                            "cell_actions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "row": {
                                    "type": "string"
                                  },
                                  "column": {
                                    "type": "string"
                                  },
                                  "qualify_logic": {
                                    "type": "string",
                                    "enum": [
                                      "may",
                                      "must",
                                      "must_one_of",
                                      "reject"
                                    ]
                                  }
                                },
                                "required": [
                                  "row",
                                  "column",
                                  "qualify_logic"
                                ]
                              }
                            }
                          },
                          "required": [
                            "rows",
                            "columns"
                          ]
                        },
                        "min_qualifying": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "display_condition": {
                          "type": "object",
                          "properties": {
                            "conditions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "screening_question": {
                                    "type": "string"
                                  },
                                  "answer": {
                                    "type": "string"
                                  },
                                  "operator": {
                                    "type": "string",
                                    "enum": [
                                      "eq",
                                      "ne"
                                    ],
                                    "default": "eq"
                                  }
                                },
                                "required": [
                                  "screening_question",
                                  "answer"
                                ]
                              },
                              "minItems": 1,
                              "maxItems": 26
                            },
                            "join": {
                              "type": "string",
                              "enum": [
                                "and",
                                "or"
                              ],
                              "default": "and"
                            }
                          },
                          "required": [
                            "conditions"
                          ]
                        },
                        "conditional_rules": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "conditions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "screening_question": {
                                      "type": "string"
                                    },
                                    "answer": {
                                      "type": "string"
                                    },
                                    "operator": {
                                      "type": "string",
                                      "enum": [
                                        "eq",
                                        "ne"
                                      ],
                                      "default": "eq"
                                    }
                                  },
                                  "required": [
                                    "answer"
                                  ]
                                },
                                "minItems": 1,
                                "maxItems": 26
                              },
                              "join": {
                                "type": "string",
                                "enum": [
                                  "and",
                                  "or"
                                ],
                                "default": "and"
                              },
                              "outcome": {
                                "type": "string",
                                "enum": [
                                  "reject",
                                  "review"
                                ]
                              }
                            },
                            "required": [
                              "conditions",
                              "outcome"
                            ]
                          }
                        },
                        "skip_rules": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "conditions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "screening_question": {
                                      "type": "string"
                                    },
                                    "answer": {
                                      "type": "string"
                                    },
                                    "operator": {
                                      "type": "string",
                                      "enum": [
                                        "eq",
                                        "ne"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "screening_question",
                                    "answer",
                                    "operator"
                                  ]
                                },
                                "minItems": 1,
                                "maxItems": 26
                              },
                              "join": {
                                "type": "string",
                                "enum": [
                                  "and",
                                  "or"
                                ]
                              },
                              "target_question": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "required": [
                              "conditions",
                              "join",
                              "target_question"
                            ]
                          }
                        },
                        "allow_paste": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "text",
                        "pick"
                      ]
                    }
                  },
                  "quotas": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "screening_question": {
                          "type": "string"
                        },
                        "targets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              },
                              "count": {
                                "type": "integer",
                                "minimum": 1
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "exact",
                                  "minimum",
                                  "maximum"
                                ]
                              }
                            },
                            "required": [
                              "value",
                              "count"
                            ]
                          },
                          "minItems": 1
                        }
                      },
                      "required": [
                        "screening_question",
                        "targets"
                      ]
                    }
                  },
                  "cross_quotas": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200
                        },
                        "conditions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "screening_question": {
                                "type": "string"
                              },
                              "answer": {
                                "type": "string"
                              },
                              "operator": {
                                "type": "string",
                                "enum": [
                                  "eq",
                                  "ne"
                                ],
                                "default": "eq"
                              }
                            },
                            "required": [
                              "screening_question",
                              "answer"
                            ]
                          },
                          "minItems": 1,
                          "maxItems": 26
                        },
                        "join": {
                          "type": "string",
                          "enum": [
                            "and",
                            "or"
                          ],
                          "default": "and"
                        },
                        "target": {
                          "type": "integer",
                          "minimum": 0,
                          "exclusiveMinimum": true
                        },
                        "quota_type": {
                          "type": "string",
                          "enum": [
                            "exact",
                            "minimum",
                            "maximum"
                          ],
                          "default": "minimum"
                        },
                        "dimension": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "label",
                        "conditions",
                        "target"
                      ]
                    },
                    "maxItems": 200
                  },
                  "device_types": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "desktop",
                        "mobile_ios",
                        "mobile_android",
                        "tablet_ios",
                        "tablet_android",
                        "other"
                      ]
                    }
                  },
                  "expected_days_to_complete": {
                    "type": "integer",
                    "minimum": 5,
                    "maximum": 50000000
                  },
                  "feasibility_request_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "title",
                  "project_id",
                  "num_participants",
                  "business_type",
                  "tasks"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "internal_title": {
                      "type": "string",
                      "nullable": true
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "draft",
                        "active",
                        "fulfilled",
                        "paused",
                        "stopped",
                        "completed"
                      ]
                    },
                    "num_participants": {
                      "type": "integer"
                    },
                    "estimated_duration_minutes": {
                      "type": "integer"
                    },
                    "filters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "additionalProperties": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            ]
                          }
                        }
                      }
                    },
                    "screening_questions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "question_rich_text": {
                            "type": "string"
                          },
                          "pick": {
                            "type": "string",
                            "enum": [
                              "one",
                              "any",
                              "boolean",
                              "text",
                              "grid"
                            ]
                          },
                          "answers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "text": {
                                  "type": "string"
                                },
                                "qualify_logic": {
                                  "type": "string",
                                  "enum": [
                                    "may",
                                    "must",
                                    "must_one_of",
                                    "reject",
                                    "review"
                                  ]
                                },
                                "allow_free_text": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "text",
                                "qualify_logic"
                              ]
                            }
                          },
                          "grid": {
                            "type": "object",
                            "properties": {
                              "pick": {
                                "type": "string",
                                "enum": [
                                  "one",
                                  "any"
                                ]
                              },
                              "rows": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string"
                                    },
                                    "text": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "text"
                                  ]
                                }
                              },
                              "columns": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "string"
                                    },
                                    "text": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "text"
                                  ]
                                }
                              },
                              "cell_actions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "row": {
                                      "type": "string"
                                    },
                                    "column": {
                                      "type": "string"
                                    },
                                    "qualify_logic": {
                                      "type": "string",
                                      "enum": [
                                        "may",
                                        "must",
                                        "must_one_of",
                                        "reject",
                                        "review"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "row",
                                    "column",
                                    "qualify_logic"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "rows",
                              "columns"
                            ]
                          },
                          "min_qualifying": {
                            "type": "integer",
                            "minimum": 1
                          },
                          "display_condition": {
                            "type": "object",
                            "properties": {
                              "conditions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "screening_question": {
                                      "type": "string"
                                    },
                                    "answer": {
                                      "type": "string"
                                    },
                                    "operator": {
                                      "type": "string",
                                      "enum": [
                                        "eq",
                                        "ne"
                                      ],
                                      "default": "eq"
                                    }
                                  },
                                  "required": [
                                    "screening_question",
                                    "answer",
                                    "operator"
                                  ]
                                },
                                "minItems": 1,
                                "maxItems": 26
                              },
                              "join": {
                                "type": "string",
                                "enum": [
                                  "and",
                                  "or"
                                ],
                                "default": "and"
                              }
                            },
                            "required": [
                              "conditions",
                              "join"
                            ]
                          },
                          "conditional_rules": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "conditions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "screening_question": {
                                        "type": "string"
                                      },
                                      "answer": {
                                        "type": "string"
                                      },
                                      "operator": {
                                        "type": "string",
                                        "enum": [
                                          "eq",
                                          "ne"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "answer",
                                      "operator"
                                    ]
                                  }
                                },
                                "join": {
                                  "type": "string",
                                  "enum": [
                                    "and",
                                    "or"
                                  ]
                                },
                                "outcome": {
                                  "type": "string",
                                  "enum": [
                                    "reject",
                                    "review"
                                  ]
                                }
                              },
                              "required": [
                                "conditions",
                                "join",
                                "outcome"
                              ]
                            }
                          },
                          "skip_rules": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "conditions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "screening_question": {
                                        "type": "string"
                                      },
                                      "answer": {
                                        "type": "string"
                                      },
                                      "operator": {
                                        "type": "string",
                                        "enum": [
                                          "eq",
                                          "ne"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "screening_question",
                                      "answer",
                                      "operator"
                                    ]
                                  },
                                  "minItems": 1,
                                  "maxItems": 26
                                },
                                "join": {
                                  "type": "string",
                                  "enum": [
                                    "and",
                                    "or"
                                  ]
                                },
                                "target_question": {
                                  "type": "string",
                                  "nullable": true
                                }
                              },
                              "required": [
                                "conditions",
                                "join",
                                "target_question"
                              ]
                            }
                          },
                          "allow_paste": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "key",
                          "text",
                          "pick"
                        ]
                      }
                    },
                    "quotas": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "screening_question": {
                            "type": "string"
                          },
                          "targets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string"
                                },
                                "count": {
                                  "type": "integer",
                                  "minimum": 1
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "exact",
                                    "minimum",
                                    "maximum"
                                  ]
                                }
                              },
                              "required": [
                                "value",
                                "count"
                              ]
                            },
                            "minItems": 1
                          }
                        },
                        "required": [
                          "screening_question",
                          "targets"
                        ]
                      }
                    },
                    "cross_quotas": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 200
                          },
                          "conditions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "screening_question": {
                                  "type": "string"
                                },
                                "answer": {
                                  "type": "string"
                                },
                                "operator": {
                                  "type": "string",
                                  "enum": [
                                    "eq",
                                    "ne"
                                  ],
                                  "default": "eq"
                                }
                              },
                              "required": [
                                "screening_question",
                                "answer",
                                "operator"
                              ]
                            },
                            "minItems": 1,
                            "maxItems": 26
                          },
                          "join": {
                            "type": "string",
                            "enum": [
                              "and",
                              "or"
                            ],
                            "default": "and"
                          },
                          "target": {
                            "type": "integer",
                            "minimum": 0,
                            "exclusiveMinimum": true
                          },
                          "quota_type": {
                            "type": "string",
                            "enum": [
                              "exact",
                              "minimum",
                              "maximum"
                            ],
                            "default": "minimum"
                          },
                          "dimension": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "label",
                          "conditions",
                          "join",
                          "target",
                          "quota_type"
                        ]
                      }
                    },
                    "tasks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sequence": {
                            "type": "integer"
                          },
                          "task_type": {
                            "type": "string"
                          },
                          "review_type": {
                            "type": "string"
                          },
                          "task_url": {
                            "type": "string",
                            "nullable": true
                          },
                          "participant_url_template": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "duration_minutes": {
                            "type": "integer"
                          },
                          "available_after_sequence": {
                            "type": "integer"
                          },
                          "available_after_delay_minutes": {
                            "type": "integer"
                          },
                          "provider": {
                            "type": "string"
                          },
                          "calendar_owner": {
                            "type": "string"
                          },
                          "event_type_url": {
                            "type": "string"
                          },
                          "instructions": {
                            "type": "string"
                          },
                          "accepted_mime_types": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "min_files": {
                            "type": "integer"
                          },
                          "max_files": {
                            "type": "integer"
                          },
                          "max_file_size_bytes": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "sequence",
                          "task_type",
                          "review_type",
                          "task_url",
                          "duration_minutes"
                        ]
                      }
                    },
                    "pricing": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "cost_per_participant_cents": {
                          "type": "integer"
                        },
                        "total_cost_cents": {
                          "type": "integer"
                        },
                        "currency": {
                          "type": "string",
                          "enum": [
                            "usd"
                          ]
                        }
                      },
                      "required": [
                        "cost_per_participant_cents",
                        "total_cost_cents",
                        "currency"
                      ]
                    },
                    "funding": {
                      "type": "object",
                      "properties": {
                        "affordable": {
                          "type": "boolean"
                        },
                        "draws_on_credit": {
                          "type": "boolean"
                        },
                        "balance_cents": {
                          "type": "integer"
                        },
                        "shortfall_cents": {
                          "type": "integer"
                        },
                        "finance_url": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "affordable",
                        "draws_on_credit",
                        "balance_cents",
                        "shortfall_cents",
                        "finance_url"
                      ]
                    },
                    "device_types": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "business_type": {
                      "type": "string",
                      "nullable": true
                    },
                    "candidate_profile": {
                      "type": "string",
                      "nullable": true
                    },
                    "required_accounts": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "video_required": {
                      "type": "string"
                    },
                    "screen_share_required": {
                      "type": "string"
                    },
                    "customer_screening_review": {
                      "type": "string"
                    },
                    "pay_frequency": {
                      "type": "string"
                    },
                    "screening_option_randomization": {
                      "type": "string"
                    },
                    "forwarding_email_enabled": {
                      "type": "string"
                    },
                    "max_responses_per_expert": {
                      "type": "integer",
                      "nullable": true
                    },
                    "feasibility_request_id": {
                      "type": "string",
                      "nullable": true
                    },
                    "project_id": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "ending_at": {
                      "type": "string",
                      "nullable": true
                    },
                    "launched_at": {
                      "type": "string",
                      "nullable": true
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string"
                        },
                        "launch": {
                          "type": "string",
                          "nullable": true
                        },
                        "submissions": {
                          "type": "string"
                        },
                        "dashboard": {
                          "type": "object",
                          "properties": {
                            "study": {
                              "type": "string",
                              "nullable": true
                            },
                            "draft_editor": {
                              "type": "string",
                              "nullable": true
                            },
                            "submissions": {
                              "type": "string",
                              "nullable": true
                            },
                            "recruitment": {
                              "type": "string",
                              "nullable": true
                            },
                            "task": {
                              "type": "string",
                              "nullable": true
                            },
                            "settings": {
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "required": [
                            "study",
                            "draft_editor",
                            "submissions",
                            "recruitment",
                            "task",
                            "settings"
                          ]
                        }
                      },
                      "required": [
                        "self",
                        "launch",
                        "submissions",
                        "dashboard"
                      ]
                    },
                    "submission_stats": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "in_progress": {
                          "type": "integer"
                        },
                        "awaiting_review": {
                          "type": "integer"
                        },
                        "approved": {
                          "type": "integer"
                        },
                        "rejected": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "total",
                        "in_progress",
                        "awaiting_review",
                        "approved",
                        "rejected"
                      ]
                    },
                    "quota_progress": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "screening_question": {
                            "type": "string"
                          },
                          "targets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string"
                                },
                                "count": {
                                  "type": "integer"
                                },
                                "current": {
                                  "type": "integer"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "value",
                                "count",
                                "current",
                                "type"
                              ]
                            }
                          }
                        },
                        "required": [
                          "screening_question",
                          "targets"
                        ]
                      }
                    },
                    "cross_quota_progress": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 200
                          },
                          "conditions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "screening_question": {
                                  "type": "string"
                                },
                                "answer": {
                                  "type": "string"
                                },
                                "operator": {
                                  "type": "string",
                                  "enum": [
                                    "eq",
                                    "ne"
                                  ],
                                  "default": "eq"
                                }
                              },
                              "required": [
                                "screening_question",
                                "answer",
                                "operator"
                              ]
                            },
                            "minItems": 1,
                            "maxItems": 26
                          },
                          "join": {
                            "type": "string",
                            "enum": [
                              "and",
                              "or"
                            ],
                            "default": "and"
                          },
                          "target": {
                            "type": "integer",
                            "minimum": 0,
                            "exclusiveMinimum": true
                          },
                          "quota_type": {
                            "type": "string",
                            "enum": [
                              "exact",
                              "minimum",
                              "maximum"
                            ],
                            "default": "minimum"
                          },
                          "dimension": {
                            "type": "string"
                          },
                          "current": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "label",
                          "conditions",
                          "join",
                          "target",
                          "quota_type",
                          "current"
                        ]
                      }
                    },
                    "screening_stats": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "screening_question": {
                            "type": "string"
                          },
                          "graded": {
                            "type": "integer"
                          },
                          "rejected": {
                            "type": "integer"
                          },
                          "rejection_rate": {
                            "type": "number"
                          },
                          "answers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "text": {
                                  "type": "string"
                                },
                                "selected": {
                                  "type": "integer"
                                },
                                "share": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "text",
                                "selected",
                                "share"
                              ]
                            }
                          }
                        },
                        "required": [
                          "screening_question",
                          "graded",
                          "rejected",
                          "rejection_rate",
                          "answers"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "internal_title",
                    "description",
                    "status",
                    "num_participants",
                    "estimated_duration_minutes",
                    "filters",
                    "screening_questions",
                    "quotas",
                    "cross_quotas",
                    "tasks",
                    "pricing",
                    "device_types",
                    "business_type",
                    "candidate_profile",
                    "required_accounts",
                    "video_required",
                    "screen_share_required",
                    "customer_screening_review",
                    "pay_frequency",
                    "screening_option_randomization",
                    "forwarding_email_enabled",
                    "max_responses_per_expert",
                    "feasibility_request_id",
                    "project_id",
                    "created_at",
                    "updated_at",
                    "ending_at",
                    "launched_at",
                    "links"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "409": {
            "description": "Action not allowed in the resource’s current state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.CONFLICT"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per minute per API key)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.RATE_LIMITED"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listOpportunities",
        "summary": "List opportunities",
        "tags": [
          "Opportunities"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "projectId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "draft",
                              "active",
                              "fulfilled",
                              "paused",
                              "stopped",
                              "completed"
                            ]
                          },
                          "num_participants": {
                            "type": "integer"
                          },
                          "pricing": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "cost_per_participant_cents": {
                                "type": "integer"
                              },
                              "total_cost_cents": {
                                "type": "integer"
                              },
                              "currency": {
                                "type": "string",
                                "enum": [
                                  "usd"
                                ]
                              }
                            },
                            "required": [
                              "cost_per_participant_cents",
                              "total_cost_cents",
                              "currency"
                            ]
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "dashboard_url": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "status",
                          "num_participants",
                          "pricing",
                          "created_at",
                          "dashboard_url"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "next_cursor": {
                          "type": "string",
                          "nullable": true
                        },
                        "has_more": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "next_cursor",
                        "has_more"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per minute per API key)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.RATE_LIMITED"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/opportunities/{opportunityId}": {
      "get": {
        "operationId": "getOpportunity",
        "summary": "Get opportunity details",
        "tags": [
          "Opportunities"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "opportunityId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "internal_title": {
                      "type": "string",
                      "nullable": true
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "draft",
                        "active",
                        "fulfilled",
                        "paused",
                        "stopped",
                        "completed"
                      ]
                    },
                    "num_participants": {
                      "type": "integer"
                    },
                    "estimated_duration_minutes": {
                      "type": "integer"
                    },
                    "filters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "additionalProperties": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            ]
                          }
                        }
                      }
                    },
                    "screening_questions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "question_rich_text": {
                            "type": "string"
                          },
                          "pick": {
                            "type": "string",
                            "enum": [
                              "one",
                              "any",
                              "boolean",
                              "text",
                              "grid"
                            ]
                          },
                          "answers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "text": {
                                  "type": "string"
                                },
                                "qualify_logic": {
                                  "type": "string",
                                  "enum": [
                                    "may",
                                    "must",
                                    "must_one_of",
                                    "reject",
                                    "review"
                                  ]
                                },
                                "allow_free_text": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "text",
                                "qualify_logic"
                              ]
                            }
                          },
                          "grid": {
                            "type": "object",
                            "properties": {
                              "pick": {
                                "type": "string",
                                "enum": [
                                  "one",
[...]
